{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
    {
      text: "Search for claimant",
      href: "searchClaimant"
    },
    {
      text: "Security clearence",
      href: "securityLogin"
    },
      {
      text: "Appointee details",
      href: "appointeeDetails"
    },
          {
      text: "Change appointee details",
      href: "addAppointeeDetails"
    }
  ]
}) }}
<br>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/claimantDetails">
        Claimant details
      </a>
    </li>
    <li class="govuk-tabs__list-item  govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/appointeeDetails">
        Appointee details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/bankDetails">
        Bank details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/pensionDetails">
        Pension details
      </a>
    </li>
        <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/paymentHistory">
        Payment history
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="appointeeDetails">
    <h2 class="govuk-heading-l">Enter appointee details</h2>

    {# ! Titles and Input #}

<dl class="govuk-summary-list">


    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      NI Number
    </dt>
    <dd class="govuk-summary-list__value">
      {{items.app_nino}}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    <form action="updateClaimant" method="POST" id="formUpdateAppointee">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_title">
          Title
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_title == '')  %} value="" {% elif(items.app_title !='')%} value="{{items.app_title}}" {% endif %} class="govuk-input" id="title" name="title" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_first_name">
          First name
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_first_name == '')  %} value="" {% elif(items.app_first_name !='')%} value="{{items.app_first_name}}" {% endif %}class="govuk-input" id="first_name" name="first_name" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1  class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_last_name">
          Last name
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_last_name == '')  %} value="" {% elif(items.app_last_name !='')%} value="{{items.app_last_name}}" {% endif %} class="govuk-input" id="last_name" name="last_name" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      {{items.dob}}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_address1">
          Address 1
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_address1 == '')  %} value="" {% elif(items.app_address1 !='')%} value="{{items.app_address1}}" {% endif %} class="govuk-input" id="address1" name="address1" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_address2">
          Address 2
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_address2 == '')  %} value="" {% elif(items.app_address2 !='')%} value="{{items.app_address2}}"{% endif %} class="govuk-input" id="address2" name="address2" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_address3">
          Address 3
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_address3 == '')  %} value="" {% elif(items.app_address3 !='')%} value="{{items.app_address3}}" {% endif %} class="govuk-input" id="address3" name="address3" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_town">
          Town
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input {% if(items.app_town == '')  %} value="" {% elif(items.app_town !='')%} value="{{items.app_town}}" {% endif %} class="govuk-input" id="town" name="town" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_county">
          County
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input  {% if(items.app_county == '')  %} value="" {% elif(items.app_county !='')%} value="{{items.app_county}}" {% endif %}class="govuk-input" id="county" name="county" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="app_postcode">
          Post code
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input  {% if(items.app_postcode == '')  %} value="" {% elif(items.app_postcode !='')%} value="{{items.app_postcode}}" {% endif %}class="govuk-input" id="postcode" name="postcode" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="sc1">
          Security question 1
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input class="govuk-input" id="sc1" name="sc1" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="sc2">
          Security question 2
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input class="govuk-input" id="sc2" name="sc2" type="text">
    </dd>
  </div>

</dl>

    {# <form action="addClaimant" method="POST" id="formAddAppointee"> #}
        <input type="hidden" name="hiddenAddAppointee" id="hiddenAddAppointee" />
        <button class="govuk-button" data-module="govuk-button" type="submit" id="btaddAppointee" formaction="addAppointee">Add Appointee</button>
    {# </form>  #}
    &nbsp;

        <input type="hidden" name="hiddenUpdateAppointee" id="hiddenUpdateAppointee" />
        <button class="govuk-button" data-module="govuk-button" type="submit" id="btupdateAppointee">Update Appointee</button>
    </form> 

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}