{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
    {
      text: "Search claimant",
      href: "searchClaimant"
    },
    {
      text: "Security clearence",
      href: "securityLogin"
    },
      {
      text: "Pension details",
      href: "pensionDetails"
    },
          {
      text: "Change pension details",
      href: "addPensionDetails"
    }
  ]
}) }}
<br>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/claimantDetails">
        Claimant details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/appointeeDetails">
        Appointee details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/bankDetails">
        Bank details
      </a>
    </li>
    <li class="govuk-tabs__list-item  govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/pensionDetails">
        Pension details
      </a>
    </li>
        <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/paymentHistory">
        Payment history
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="bankDetails">
    <h2 class="govuk-heading-l">Add pension details</h2>

<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
          <form action="updatePensionDetails" method="POST" id="formUpdatePensionDetails">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="pension_type">
      Pension type
        </label>
        </h1>
    </dt>

    {# <dd class="govuk-summary-list__value">
      <input  {% if(items.pension_type == '')  %} value="" {% elif(items.pension_type !='')%} value="{{items.pension_type}}" {% endif %} class="govuk-input" id="pension_type" name="pension_type" type="text">
    </dd> #}

    <div class="govuk-form-group">

  <select class="govuk-select" id="sort" name="sort">
    <option value="{{items.pentypeid}}" selected>{{items.pension_type}}</option>
    {% for penType in penTypes %} 
    <option value="{{penType.id}}">{{penType.pension_type}}</option>
    {% endfor %}
  </select>
</div>

  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="pension_amount">
      Amount
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input  {% if(items.pension_amount == '')  %} value="" {% elif(items.pension_amount !='')%} value="{{items.pension_amount}}" {% endif %} class="govuk-input" id="pension_amount" name="pension_amount" type="text">
    </dd>
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="frequency">
      Frequency
        </label>
        </h1>
    </dt>

    <select class="govuk-select" id="frequency" name="frequency">
    <option value="{{items.penfreqid}}" selected>{{items.frequency}}</option>
    {% for penFreq in penFreqs %} 
    <option value="{{penFreq.id}}">{{penFreq.frequency}}</option>
    {% endfor %}
  </select>

  </div>


<table>
    <form action="addPensionDetails" method="POST" id="formAddPensionDetails">
        <input type="hidden" name="hiddenAddPensionDetails" id="hiddenAddPensionDetails" />
        <button class="govuk-button" data-module="govuk-button" type="submit" id="btaddPensionDetails" formaction="addAppointee">Add Pension Details</button>
    &nbsp;

        <input type="hidden" name="hiddenUpdatePensionDetails" id="hiddenUpdatePensionDetails" />
        <button class="govuk-button" data-module="govuk-button" type="submit" id="btupdatePensionDetails">Update Pension Details</button>
    </form> </dl>
  </table>

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}