{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },

      {
      text: "Benefit overview",
      href: "benefitOverview"
    }
  ]
}) }}
<br>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item  govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/benefitOverview">
        Benefit overview
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="bankDetails">
    <h2 class="govuk-heading-l">Benefit overview</h2>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit type
    </dt>
    <dt class="govuk-summary-list__key">
      Number of claimants
    </dt>
      <dt class="govuk-summary-list__key">
      Last payment date
    </dt>

        <dt class="govuk-summary-list__key">
      Amount paid
    </dt>
  </div>

    {% for item in items %}
  <div class="govuk-summary-list__row">

    <dd class="govuk-summary-list__value">
      {{item.pension_type}}
    </dd>
    <dd class="govuk-summary-list__value">
      {{item.count}}
    </dd>
      <dd class="govuk-summary-list__value">
      {{item.formatted_date}}
    </dd>
        <dd class="govuk-summary-list__value">
      £{{item.sum}}
    </dd>
  </div>
      {% endfor %}

</dl>

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}