{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
    {
      text: "Search for claimant",
      href: "searchClaimant"
    },
    {
      text: "Security clearence",
      href: "securityLogin"
    },
      {
      text: "Claimant details",
      href: "claimantDetails"
    }
  ]
}) }}

<h1 class="govuk-heading-xl">Claimant details</h1>

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set claimantDetailsHtml %}
<h2 class="govuk-heading-l">Claimant details</h2>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [

          {
          key: {
        text: "NI Number"
      },
      value: {
        text: items.nino
      },
      actions: {
        items: [
        ]
      }
    },

        {
      key: {
        text: "Title"
      },
      value: {
        text: items.title
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "title"
          }
        ]
      }
    },
    
    {
      key: {
        text: "First name"
      },
      value: {
        text: items.first_name
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "first name"
          }
        ]
      }
    },

        {
      key: {
        text: "Last name"
      },
      value: {
        text: items.last_name
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "last name"
          }
        ]
      }
    },

    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: items.dob
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Address 1"
      },
      value: {
        html: items.address1
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address line 1"
          }
        ]
      }
    },

        {
      key: {
        text: "Address 2"
      },
      value: {
        html: items.address2
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address line 2"
          }
        ]
      }
    },

        {
      key: {
        text: "Address 3"
      },
      value: {
        html: items.address3
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address line 3"
          }
        ]
      }
    },

        {
      key: {
        text: "Town"
      },
      value: {
        html: items.town
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "town"
          }
        ]
      }
    },

        {
      key: {
        text: "County"
      },
      value: {
        html: items.county
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "county"
          }
        ]
      }
    },

        {
      key: {
        text: "Postcode"
      },
      value: {
        html: items.postcode
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "postcode"
          }
        ]
      }
    },

    {
      key: {
        text: "Security question #1"
      },
      value: {
        html: items.q1
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "security question 1"
          }
        ]
      }
    },

        {
      key: {
        text: "Security question #2"
      },
      value: {
        html: items.q2
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "security question 2"
          }
        ]
      }
    },

    {
          key: {
        text: "Appointee"
      },
      value: {
        text: items.app_first_name + ' ' + items.app_last_name
      },
      actions: {
        items: [
        {
            href: "#appointee-details",
            text: "Go to",
            visuallyHiddenText: "link"
          }
        ]
      }
    }
  ]
}) }}

{% endset -%}


{% set appointeeDetailsHtml %}
<h2 class="govuk-heading-l">Appointee details</h2>
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    
        {
      key: {
        text: "Relationship to claimant"
      },
      value: {
        text: items.relationship
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },

              {
          key: {
        text: "NI Number"
      },
      value: {
        text: items.app_nino
      },
      actions: {
        items: [
        ]
      }
    },

        {
      key: {
        text: "Title"
      },
      value: {
        text: items.app_title
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "title"
          }
        ]
      }
    },
    
    {
      key: {
        text: "First name"
      },
      value: {
        text: items.app_first_name
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "first name"
          }
        ]
      }
    },

        {
      key: {
        text: "Last name"
      },
      value: {
        text: items.app_last_name
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "last name"
          }
        ]
      }
    },

    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: items.app_dob
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Address 1"
      },
      value: {
        html: items.app_address1
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address line 1"
          }
        ]
      }
    },

        {
      key: {
        text: "Address 2"
      },
      value: {
        html: items.app_address2
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address line 2"
          }
        ]
      }
    },

        {
      key: {
        text: "Address 3"
      },
      value: {
        html: items.app_address3
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address line 3"
          }
        ]
      }
    },

        {
      key: {
        text: "Town"
      },
      value: {
        html: items.app_town
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "town"
          }
        ]
      }
    },

        {
      key: {
        text: "County"
      },
      value: {
        html: items.app_county
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "county"
          }
        ]
      }
    },

        {
      key: {
        text: "Postcode"
      },
      value: {
        html: items.app_postcode
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "postcode"
          }
        ]
      }
    },

    {
      key: {
        text: "Security question #1"
      },
      value: {
        html: items.q1
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "security question 1"
          }
        ]
      }
    },

        {
      key: {
        text: "Security question #2"
      },
      value: {
        html: items.q2
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "security question 2"
          }
        ]
      }
    }
  ]
}) }}
{% endset -%}

{% set bankDetailsHtml %}
<h2 class="govuk-heading-l">Bank details</h2>
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [

    {
      key: {
        text: "Bank/Building Society"
      },
      value: {
        text: items.bank_name
      },
      actions: {
        items: [
        ]
      }
    },

        {
      key: {
        text: "Account/Roll number"
      },
      value: {
        text: items.account_no
      },
      actions: {
        items: [

        ]
      }
    },

          {
      key: {
        text: "Sort code"
      },
      value: {
        text: items.sort_code
      },
      actions: {
        items: [

        ]
      }
    }
    
  ]
}) }}
{% endset -%}

{% set pensionDetailsHtml %}
<h2 class="govuk-heading-l">Pension details</h2>
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [

    {
      key: {
        text: "Pension type"
      },
      value: {
        text: items.pension_type
      },
      actions: {
        items: [
        ]
      }
    },

        {
      key: {
        text: "Active"
      },
      value: {
        text: items.is_active
      },
      actions: {
        items: [

        ]
      }
    },

          {
      key: {
        text: "Amount"
      },
      value: {
        text: items.pension_amount
      },
      actions: {
        items: [

        ]
      }
    },

              {
      key: {
        text: "Frequency"
      },
      value: {
        text: items.frequency
      },
      actions: {
        items: [

        ]
      }
    }
    
  ]
}) }}
{% endset -%}

{% set paymentHistoryHtml %}
<h2 class="govuk-heading-l">Payment history</h2>
{{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [

    {
      text: "Date"
    },
    {
      text: "Type"
    },
        {
      text: "Amount"
    },
        {
      text: "Status"
    }
  ],

  rows: [
    [
      {
        text: items.pension_date
      },
      {
        text: items.pension_type
      },
      {
        text: items.pension_amount
      },
      {
        text: items.payment_status
      }
    ],

        [
      {
        text: "11th April 2022"
      },
      {
        text: "Personal"
      },
      {
        text: "£00.00"
      },
      {
        text: "Failed"
      }
    ],
        [
      {
        text: "18th April 2022"
      },
      {
        text: "State"
      },
      {
        text: "£370.30"
      },
      {
        text: "Completed"
      }
    ],
        [
      {
        text: "25th April 2022"
      },
      {
        text: "State"
      },
      {
        text: "£185.15"
      },
      {
        text: "Pending"
      }
    ],
    [
      {
        text: "Pension payment year to date"
      },
      {
        text: "£740.60"
      }
    ]
  ]
}) }}

{% endset -%}

{{ govukTabs({
  items: [
    {
      label: "Claimant details",
      id: "claimant-details",
      panel: {
        html: claimantDetailsHtml
      }
    },
    {
      label: "Appointee details",
      attributes: {href: "/anything"},
      id: "appointee-details",
      panel: {
        html: appointeeDetailsHtml
      }
    },

        {
      label: "Bank details",
      id: "bank-details",
      panel: {
        html: bankDetailsHtml
      }
    },
    {
      label: "Pension details",
      id: "pension-details",
      panel: {
        html: pensionDetailsHtml
      }
    },
    {
      label: "Payment history",
      id: "payment-history",
      panel: {
        html: paymentHistoryHtml
      }
    }
  ]
}) }}



{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}