{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
    {
      text: "Search claimant",
      href: "searchClaimant"
    },
    {
      text: "Security clearence",
      href: "securityLogin"
    },
      {
      text: "Bank details",
      href: "bankDetails"
    },
          {
      text: "Change bank details",
      href: "addBankDetails"
    }
  ]
}) }}
<br>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/claimantDetails">
        Claimant details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/appointeeDetails">
        Appointee details
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/bankDetails">
        Bank details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/pensionDetails">
        Pension details
      </a>
    </li>
        <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/paymentHistory">
        Payment history
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="bankDetails">
    <h2 class="govuk-heading-l">Add bank details</h2>

<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
          <form action="updateBankDetails" method="POST" id="formUpdateBankDetails">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="bank_name">
        Bank/Building society name
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input  {% if(items.bank_name == '')  %} value="" {% elif(items.bank_name !='')%} value="{{items.bank_name}}" {% endif %} class="govuk-input" id="bank_name" name="bank_name" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="account_no">
      Account/Roll number
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input  {% if(items.account_no == '')  %} value="" {% elif(items.account_no !='')%} value="{{items.account_no}}" {% endif %} class="govuk-input" id="account_no" name="account_no" type="text">
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <h1 class="govuk-heading-m"><label class="govuk-label govuk-label--s" for="sort_code">
      Sort code
        </label>
        </h1>
    </dt>

    <dd class="govuk-summary-list__value">
      <input  {% if(items.sort_code == '')  %} value="" {% elif(items.sort_code !='')%} value="{{items.sort_code}}" {% endif %} class="govuk-input" id="sort_code" name="sort_code" type="text">
    </dd>
  </div>

</dl>

    {# <form action="addBankDetails" method="POST" id="formAddBankDetails"> #}
        <input type="hidden" name="hiddenAddBankDetails" id="hiddenAddBankDetails" />
        <button class="govuk-button" data-module="govuk-button" type="submit" id="btaddBankDetails" formaction="addAppointee">Add Bank Details</button>
    {# </form>  #}
    &nbsp;

        <input type="hidden" name="hiddenUpdateBankDetails" id="hiddenUpdateBankDetails" />
        <button class="govuk-button" data-module="govuk-button" type="submit" id="btupdateBankDetails">Update Bank Details</button>
    </form> 

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}