{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
        {
      text: "Payment run",
      href: "paymentRunOptions"
    }
  ]
}) }}

  <h1 class="govuk-heading-xl">Payment run</h1>

  <form class="govuk-label--l" action=searchClaimant method="POST">

    <button class="govuk-button" data-module="govuk-button" type="overview" formaction="processWeekly">Process weekly</button>
    <button class="govuk-button" data-module="govuk-button" type="overview" formaction="processMonthly">Process monthly</button>
 
    </form>
  <p>{{message}}</p>
  
{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}  