{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
      {
      text: "Search for claimant",
      href: "searchClaimant"
    }
  ]
}) }}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You can be fined up to £5,000 for misuse of NINO information.",
  iconFallbackText: "Warning"
}) }}

  <h1 class="govuk-heading-xl">Search claimant</h1>

  <form class="govuk-label--l" action=securityLogin method="POST">

<h1 class="govuk-heading-l">National Insurance Number</h1>

{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-form-group">
  <label class="govuk-label" for="nino">
    National Insurance number
  </label>
  <div id="national-insurance-number-hint" class="govuk-hint">
    It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
  </div>
  <p id="national-insurance-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{message}}
  </p>
  <input class="govuk-input id="nino" name="nino" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint national-insurance-number-error">
</div>

</br>
</br>

    <button class="govuk-button" data-module="govuk-button" type="submit" formaction="processSearchClaimant">Submit</button>
    </form>

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}