{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },
    {
      text: "User menu",
      href: "usermenu"
    },
      {
      text: "Search for claimant",
      href: "searchClaimant"
    }
  ]
}) }}

  <h1 class="govuk-heading-xl">Security clearence</h1>

  <form class="govuk-label--l" action=securityLogin method="POST">

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{# todo ---- HTML DOB -- NEEDS ERROR MESSAGE INCLUDING #}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What is your date of birth?
      </h1>
    </legend>
    <div id="dob-hint" class="govuk-hint">
      For example, 31 3 1980
    </div>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" inputmode="numeric" required="required">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" inputmode="numeric" required="required">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" inputmode="numeric" required="required">
        </div>
      </div>
    </div>

  </fieldset>
</div>

<h1 class="govuk-heading-l">{{items.sc1}}</h1>
  <input class="govuk-input govuk-input--width-20" type="password" name="sec1" required="required">
</br>

<h1 class="govuk-heading-l">{{items.sc2}}</h1>
  <input class="govuk-input govuk-input--width-20" type="password" name="sec2" required="required">
</br>
  <p id="national-insurance-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{message}}
  </p>
    <button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
    </form>

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}