<table name="my_table">
  <tr>
  <th>Username</th>
  <th>Email address</th>
  <th>User type</th>
  </tr>

    {% for item in items %}

  <tr>
    <td> {{item.username}} </td>
    <td> {{item.email}} </td>
    <td> {{item.user_type}}</td>
  </tr>
  
  </table>
  
  {% endfor %}