{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{# PHASE BANNER #}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    },

      {
      text: "User menu",
      href: "usermenu"
    },

      {
      text: "User maintenance",
      href: "userMaintenance"
      }
  ]
}) }}

{# LOGIN USERNAME #}

<h1 class="govuk-heading-xl">User maintenance</h1>
<form class="govuk-label--l" action=login method="POST">

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Claimants",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Name",
      classes: 'govuk-!-width-one-half'
    },
    {
      text: "Email",
      classes: 'govuk-!-width-one-quarter'
    },
    {
      text: "User type",
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  rows: [
    [
      {
        text: items.username
      },
      {
        text: items.email
      },
      {
        text: items.user_type
      }
    ],
    [
      {
        text: "d"
      },
      {
        text: "e"
      },
      {
        text: "f"
      }
    ],
    [
      {
        text: "g"
      },
      {
        text: "h"
      },
      {
        text: "i"
      }
    ]
  ]
}) }}

<a href="newUser"> <button class="govuk-button" data-module="govuk-button" type="button" formaction="newUser">
  New user
</button></a>

</form>
{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}