{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
{% endblock %}

{% block content %}

{# PHASE BANNER #}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "login"
    }
  ]
}) }}

{# LOGIN USERNAME #}

{#! ERROR HANDLING #}

{# <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary" id="error-message-display" style="display:none;">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#passport-issued-day">The date your passport was issued must be in the past</a>
      </li>
      <li>
        <a href="#postcode-input">Enter a postcode, like AA1 1AA</a>
      </li>
    </ul>
  </div>
</div> #}

{#! POST ERROR HANDLING #}

<h1 class="govuk-heading-xl">Sign in to the Pension Payments account</h1>
<form class="govuk-label--l" action=login method="POST">
<h1 class="govuk-heading-m">Username</h1>
  <input class="govuk-input govuk-input--width-20" type="text" name="username" placeholder="" value="{{username}}">
</br>
</br>
<h1 class="govuk-heading-m">Password</h1>
  <input class="govuk-input govuk-input--width-20" type="password" name="password" placeholder="">
</br>
</br>
  <p id="national-insurance-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{message}}
  </p>
<button class="govuk-button" data-module="govuk-button" type="login">
  Sign in
</button>
<button class="govuk-button" data-module="govuk-button" type="forgot" formaction="validateUsername">
  Forgot Password
</button>
</form>

<a href="newUser" class="govuk-link">Click here to create new account</a>
{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}